SPRING_PROFILES_ACTIVE=

DB_URL=
DB_NAME=
DB_USER=
DB_PASS=

MQ_HOST=
MQ_PORT=
MQ_USER=
MQ_PASS=

REDIS_HOST=
REDIS_PORT=

MAIL_HOST=
MAIL_FROM=
MAIL_FROM=
MAIL_PASS=

GOOGLE_CLIENT_ID=

FRONTEND_URL=

ACCESS_TOKEN_COOKIE_NAME=
SESSION_COOKIE_NAME=
DEVICE_COOKIE_NAME=

ACCESS_TOKEN_SECRET=
HMAC_SECRET=