# =========================
# DATABASE
# =========================
DB_URL=
DB_NAME=
DB_USER=
DB_PASS=
DB_PORT=


# =========================
# RABBITMQ
# =========================
MQ_HOST=
MQ_PORT=
MQ_MANAGEMENT_PORT=
MQ_USER=
MQ_PASS=

# =========================
# REDIS
# =========================
REDIS_HOST=
REDIS_PORT=


# =========================
# MAIL
# =========================
MAIL_HOST=
MAIL_PORT=
MAIL_UI_PORT=
MAIL_FROM=
MAIL_PASS=


# =========================
# GOOGLE
# =========================
GOOGLE_CLIENT_ID=


# =========================
# FRONTEND
# =========================
FRONTEND_URL=


# =========================
# SECURITY
# =========================
ACCESS_TOKEN_SECRET=
HMAC_SECRET=


# =========================
# SCHEDULER
# =========================
ACCOUNT_ACTIVATION_CLEANUP_RATE=
RECOVER_PASSWORD_CLEANUP_RATE=
SESSION_CLEANUP_RATE=


# =========================
# RATE LIMIT
# =========================
RATE_LIMIT_GLOBAL_CAPACITY=
RATE_LIMIT_GLOBAL_REFILL_TOKENS=
RATE_LIMIT_GLOBAL_DURATION=

RATE_LIMIT_AUTH_CAPACITY=
RATE_LIMIT_AUTH_REFILL_TOKENS=
RATE_LIMIT_AUTH_DURATION=

RATE_LIMIT_RECOVER_PASSWORD_CAPACITY=
RATE_LIMIT_RECOVER_PASSWORD_REFILL_TOKENS=
RATE_LIMIT_RECOVER_PASSWORD_DURATION=

RATE_LIMIT_ACTIVATION_ACCOUNT_CAPACITY=
RATE_LIMIT_ACTIVATION_ACCOUNT_REFILL_TOKENS=
RATE_LIMIT_ACTIVATION_ACCOUNT_DURATION=
